/*CSS RESEET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color:#9fb2bd;
    min-height: 100vh;
    border:10px solid #1d1e4c;
}
.content{
    max-width: 900px;
    margin: 0 auto;
}
.image-container{
    border-radius: 50%;
    overflow: hidden;
}
.image-container,img{
    width: 300px;
    height: 320px;
}
.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.top_section h4{
    text-align: end;
    font-size: 30px;
}
.top_section h1{
    font-size: 50px;
    font-weight: bold;
    color: #1d1e4c;
    text-transform: uppercase;
    font-family: 'Lobster', cursive;
}
/* About Section*/

.about-section{
    margin-top: 50px;
}

.about-section h2{
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: 'Baloo Bhai 2', cursive;

}

.about-section p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
    font-family: 'Baloo Bhai 2', cursive;
}

/*Biography-sction*/
.biography-section{
    margin: 50px 0;
}

.biography-section h3{
    margin-bottom: 20px;
}

.biography-section ul{
    margin-left: 50px;
}
.biography-section li{
    margin-bottom: 15px;
    font-family: 'Baloo Bhai 2', cursive;
    
}

footer{
    margin:50px 0;
}

footer p{
    text-align: end;
}